html {
    scroll-behavior: smooth;
}

*  {
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    background-color: #2f2e2e;
}

/* FONTS */

h2 {
    font-family: "Quattrocento", serif;
    text-align: center;
    color: whitesmoke;
}

h3 {
    font-family: "Quattrocento", serif;
    color: white;
}

p {
    font-family: "Quattrocento Sans", sans-serif;
    color: white;
}

/* SIDE BAR */

.checkbox {
    position: fixed;
    right: 27px;
    top: 25px;
    width: 35px;
    height: 35px;
    z-index: 100000;
    cursor: pointer;
    opacity: 0;
    z-index: 100000;
}

.icon {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    z-index: 100000;
    cursor: pointer;
    pointer-events: none;
    background-color: black;
    border-radius: 25%;
    opacity: 0.75;
}

.icon::before {
    content: 'menu';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 40px;

}

.checkbox:checked ~ .icon::before {
    content: 'X';
    font-size: 20px;
} 

.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    margin: 0;
    padding: 50px 20px;
    width: 300px;
    height: 100vh;
    background-color: #2f2e2e;
    transition: all 1s;
    z-index: 10000;
    overflow-y: auto;
}

.sidebar li {
    list-style: none;
    font-family: "Quattrocento", serif;
    font-size: 30px;
    padding: 15px;
}

.sidebar li a {
    display: block;
    color: white;
    text-decoration: none;
    transition: 0.75s;
}

.checkbox:checked ~ .sidebar {
    left: 0;
}

.sidebar li a:hover {
    transform: translateX(10px);
    color: brown;
}

.sidebar img {
    height: 50vh;
    padding-top: 20px;
    position: absolute;
    bottom: 20px;
}

/* HERO PAGE */

#hero {
    height: 100vh;
    background-image: url(hero.jpg);
    background-position: center;
}

.home-filter {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.home-logo {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: auto;
    overflow: hidden;
}

.socials {
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.socials img {
    height: 50px;
}

.socials img:hover {
    filter: brightness(50%);
    cursor: pointer;
}