*  {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #2F2E2E;
}

/* FONTS */

h2 {
    text-align: center;
    color: whitesmoke;
}

h3 {
    color: white;
}

p {
    color: white;
}

nav {
    position: fixed;
    top: 10vh;
    z-index: 1000;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

nav ul {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    display: inline;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    transition: all 0.75s ease-in-out;
}

nav a:hover {
    color: blue;
}

/* HERO PAGE */

.home-image {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.home-filter {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    display: flex;
    z-index: 1;
    overflow: hidden;
}

.home-logo {
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: auto;
    z-index: 2;
    overflow: hidden;
}

.home-people {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 3;
}

.home-people-filter {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 4;
    opacity: 0.35;
}

/* FEATURED SECTION */

#featured {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.split {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* DIVIDER */

.divider {
    height: 20vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.divider img {
    transform: translateY(-35%);
}

.div-filter {
    height: 20vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ABOUT */

#about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

