html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
}

/* FONTS */

h1, h2, h3, h4, p {
    color: hsl(46, 58%, 90%);
}

h1 {
    font-family: "Quattrocento", serif;
    text-align: center;
    font-size: 2.4em;
    letter-spacing: 0.2em;
    font-weight: normal;
}

h2 {
    font-family: "Quattrocento", serif;
    text-align: center;
    font-size: 2.2em;
    letter-spacing: 0.2em;
    font-weight: normal;
}

h3 {
    font-family: "Quattrocento", serif;
}

p {
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 1.2em;
    line-height: 1.3em;
}

/* MENU BUTTON */

:root {
    --bar-width: 35px;
    --bar-height: 3px;
    --hamb-gap: 6px;
    --hamb-margin: 20px;
    --animation-timing: 750ms ease-in-out;
    --hamb-height: calc((var(--bar-height) * 3 + (var(--hamb-gap) * 2)));
    --background: rgba(40,40,40); 
}

.hamb::before,
.hamb::after,
.hamb input {
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: white;
    transition: opacity var(--animation-timing), width var(--animation-timing), 
        rotate var(--animation-timing), translate var(--animation-timing);
    transform-origin: left center;
}

.hamb {
    --x-width: calc((var(--hamb-height) * 1.41421356237));
    display: flex;
    flex-direction: column;
    gap: var(--hamb-gap);
    background-color: var(--background);
    width: max-content;
    padding: 10px 5px;
    border-radius: 20%;
    position: fixed;
    top: var(--hamb-margin);
    left: var(--hamb-margin);
    z-index: 100;
    cursor: pointer;
}

.hamb input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamb input:checked {
    width: 0;
    opacity: 0;
}

.hamb:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamb:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}




/* SIDE BAR */

.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    margin: 0;
    padding: 75px 20px;
    width: 300px;
    height: 100vh;
    background-color: var(--background);
    transition: all var(--animation-timing);
    z-index: 10;
    overflow-y: auto;
}

.sidebar li {
    list-style: none;
    font-family: "Quattrocento", serif;
    font-size: 30px;
    padding: 8px;
}

.sidebar li a {
    display: block;
    color: white;
    text-decoration: none;
    transition: all var(--animation-timing);
}

.hamb:has(input:checked) ~ .sidebar {
    left: 0;
}

.sidebar li a:hover {
    transform: translateX(10px);
    color: #76473B;
}

.sidebar img {
    height: 50vh;
    padding-top: 20px;
    position: absolute;
    bottom: 20px;
}

/* HERO PAGE */

#hero {
    height: 100vh;
    background-image: url(hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-filter {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.home-logo {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: auto;
    overflow: hidden;
}

/* DIV */

.blur {
    content: '';
    width: 100%;
    height: 100px;
    margin-top: -100px;
    background-image: linear-gradient(rgba(40,40,40,0), rgba(40,40,40,1));
}

/* ABOUT */

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-title {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-text {
    height: 50vh;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about-text p {
    width: 70%;
    text-align: center;
}

.feat-media {
    height: 50vh;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feat-container {
    width: 30vw;
    min-width: 250px;
    max-width: 350px;
    height: 30vw;
    min-height: 250px;
    max-height: 350px;
    overflow: hidden;
    border-radius: 2.5%;
}

.feat-media img {
    height: 100%;
    object-fit: contain;
    transition: var(--animation-timing);
}

.feat-media img:hover {
    transform: scale(1.1);
}

/* LIVE */

.live {
    margin-top: 10vh;
    background-color: var(--background);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

.live-image {
    width: 550px;
}

.live-img-container {
    height: 450px;
    width: auto;
    height: 30vw;
    min-height: 250px;
    max-height: 350px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.5%;
}

.live-image img {
    width: 100%;
    transition: all var(--animation-timing);
}

.live-image img:hover {
    transform: scale(1.1);
}

.live-text {
    width: 550px;
}

/* GALLERY */

.gallery {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-scroll-div {
    width: 90%;
    height: 66vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
}

.cover {
    position: relative;
    width: 90%;
    height: 100%;
}

.cover::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(-90deg, rgba(40,40,40,0), rgba(40,40,40,1));
}

.cover::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, rgba(40,40,40,0), rgba(40,40,40,1));
}

.scroll-images {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left; 
    align-items: center; 
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    scrollbar-width: thin; 
    scrollbar-color: rgb(35,35,35) rgb(60,60,60);
    scroll-snap-type: mandatory;
    user-select: none;
}

.scroll-images::-webkit-scrollbar {
    width: 12px;
}

/* For Microsoft Edge */
.scroll-images::-ms-scrollbar {
    width: 12px;
}

.scroll-images::-webkit-scrollbar-thumb {
    background: rgb(35,35,35);
    border-radius: 20px;
}

.scroll-images::-webkit-scrollbar-track {
    background-color: rgb(60,60,60);
    border-radius: 20px;
}



.scroll-images::-ms-scrollbar-thumb {
    background: red;
    border-radius: 20px;
}

.scroll-images::-ms-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 20px;
}

.img-container {
    min-width: 600px;
    height: 450px;
    margin: 1px 10px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5%;
    scroll-snap-align: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

/* SHOP */

.shop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.shop-left {
    width: 550px;
    height: 66vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.shop-right {
    width: 550px;
    height: 66vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album-container {
    position: relative;
    text-align: center;
}

.album-container img {
    height: 30vw;
    width: 30vw;
    transition: var(--animation-timing);
}

.album-filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(35,35,35, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: var(--animation-timing);
    cursor: pointer;
}

.album-filter:hover {
    opacity: 1;
}

/* CONTACT */



/* FOOTER */

footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: var(--background);
    display: flex;
    align-items: center;
}

.socials {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.socials img {
    height: 3vw;
    min-height: 35px;
    max-height: 45px;
}

.socials img:hover {
    filter: brightness(50%);
    cursor: pointer;
}